<!--<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>-->


<nav class="navbar navbar-expand-sm navbar-light bg-light" id="navbar-dark">
    <div class="container-fluid menu">
        <a class="navbar-brand logo-img">
            <img src="../../../assets/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="title-welcome">
            <p>¡Hola Amanda!</p>
        </div>
        
        <div class="icons">
            <span aria-hidden="false" class="material-icons-outlined" id="icon-gray">event</span>
            <div class="notificaciones-icon">
                <span class="material-icons-outlined" id="icon-gray">notifications</span>
                <span class="badge">60</span>
            </div>
        </div>

        <div class="perfil" [matMenuTriggerFor]="perfil_menu">
            <mat-menu class="menu-perfil" #perfil_menu="matMenu">
                <button mat-menu-item>
                    <span class="material-icons-outlined">manage_accounts</span>
                    Mi perfil y ajustes
                </button>
                <button mat-menu-item>
                    <span class="material-icons-outlined">lock</span>
                    Cambio clave
                </button>
                <button mat-menu-item>
                    <span class="material-icons-outlined">settings</span>
                    Configuración
                </button>
                <button mat-menu-item>
                    <span class="material-icons-outlined">contact_support</span>
                    Preguntas frecuentes
                </button>
                <button mat-menu-item>
                    <span class="material-icons-outlined">logout</span>
                    Salir
                </button>
            </mat-menu>
            <div class="avatar" id="center">
                <img src="../../../assets//avatar.png" alt="">
            </div>
            <div class="title-connection" id="text-center">
                <p>Última conexión:</p>
            </div>
            <div class="last-connection" id="center">
                <p>20 jun 2021, 08:21 pm </p>
            </div>
            <div class="icon-dropdown" id="center">
                <span class="material-icons">arrow_drop_down</span>
            </div>
        </div>

        <div class="divider">
            <div class="linea"></div>
        </div>

        <div class="tabs">
            <mat-tab-group animationDuration="0ms" dynamicWidth>
                <mat-tab label="Resumen de producto"></mat-tab>
                <mat-tab label="Consulta"></mat-tab>
                <mat-tab label="Transferencia"></mat-tab>
                <mat-tab label="Beneficiarios"></mat-tab>
                <mat-tab label="Servicios de tarjeta"></mat-tab>
                <mat-tab label="Plan de lealtad"></mat-tab>
                <mat-tab label="Solicitud de productos"></mat-tab>
                <mat-tab label="Bienestar financiero"></mat-tab>
                <mat-tab disabled>
                    <ng-template mat-tab-label>
                        Oficial asignado
                        <span class="material-icons">arrow_drop_down</span>
                    </ng-template>
                </mat-tab>
              </mat-tab-group>
        </div>

        <!--<div class="navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/intensidadluminica']" routerLinkActive="active" >Intensidad Lumínica</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/temperatura']" routerLinkActive="active" >Temperatura</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/viento']" routerLinkActive="active">Viento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/presionatmosferica']" routerLinkActive="active">Presión Atmosférica</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/humedad']" routerLinkActive="active">Humedad</a>
            </li>
            </ul>
        </div>-->
    </div>
</nav>

  
